*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.header{
    background-color: #f0f0f0;
    width: 100%;
    position: fixed;
    z-index: 999;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 200px;
}

.logo{
    text-decoration: none;
    color: #3a6cf4;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 1.8em;
}

.navigation a{
    color: #3a6cf4;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 500;
    padding-left: 30px;
}

.navigation a:hover{
    color: #351879;
}

.about{
    padding: 100px 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100vh; */
    background: url(https://images.pexels.com/photos/6044844/pexels-photo-6044844.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat;
    background-size: cover;
    position: relative;
}

.about::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #222;
    opacity: 0.7;
}
.about-wrapper{
    max-width: 950px;
    position: relative;
    z-index: 2;
    color:#fff;
    font-weight: 400;
    line-height: 1.2;
}

.about-wrapper h2{
    font-size: 32px;
    font-weight: 500;
    margin: 16px 0;
}

.about-wrapper p{
    margin-bottom: 16px;
}

.about-avatar{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border-radius: 50%;
    display: inline-block;
    margin: 30px 0;
}

.footer{
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    padding: 2em;
}

.footer-title{
    font-size: 1.3em;
    font-weight: 600;
}

.footer-title span{
    color: #3a6cf4;
}

.footer-icon a{
    color: #3a6cf4;
    font-size: 1.3em;
    padding: 0 15px 0 0;
}